[package]
name = "rtc-shared"
version = "0.2.1"
authors = ["Rain Liu <yliu@webrtc.rs>"]
edition = "2021"
description = "RTC Shared in Rust"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/rtc-shared"
homepage = "https://ortc.rs"
repository = "https://github.com/webrtc-rs/rtc/tree/master/rtc-shared"

[features]
default = ["crypto", "marshal", "replay"]
crypto = []
marshal = []
replay = []

[dependencies]
thiserror = "1.0.58"
substring = "1.4.5"
bytes = "1.5.0"
aes-gcm = { version = "0.10.3", features = ["std"] }
url = "2.5.0"
rcgen = { version = "0.13.2", features = ["pem", "x509-parser"] }
sec1 = { version = "0.7.3", features = ["std"] }
p256 = { version = "0.13.2", features = ["default", "ecdh", "ecdsa"] }
aes = "0.8.4"
sansio = "0.7.0"
sansio-transport = "0.7.0"
sansio-executor = "0.7.0"
