[package]
name = "rtc"
version = "0.0.3"
authors = ["Rain Liu <yliu@webrtc.rs>"]
edition = "2021"
description = "RTC in Rust"
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/rtc"
homepage = "https://ortc.rs"
repository = "https://github.com/webrtc-rs/rtc/tree/master/rtc"
readme = "../README.md"

[dependencies]
bytes = "1.5"
log = "0.4"
base64 = "0.22"
serde = "1"
serde_json = { version = "1", features = [] }
rand = "0.9.2"
rcgen = { version = "0.13.2", features = ["pem", "x509-parser"] }
ring = "0.17"
sha2 = "0.10"
rustls = { version = "0.23.27", default-features = false, features = ["std", "ring"] }
url = { version = "2", features = [] }
hex = { version = "0.4", features = [] }
pem = { version = "3", optional = true }
unicase = "2.8"
sansio = "1"

datachannel = { version = "0.2.0", path = "../rtc-datachannel", package = "rtc-datachannel" }
dtls = { version = "0.2.0", path = "../rtc-dtls", package = "rtc-dtls" }
ice = { version = "0.2.0", path = "../rtc-ice", package = "rtc-ice" }
#TODO: interceptor = { version = "0.0.0", path = "../rtc-interceptor", package = "rtc-interceptor"  }
#TODO: mdns = { version = "0.0.0", path = "../mdns", package = "rtc-mdns" }
#TODO: media = { version = "0.0.0", path = "../media", package = "rtc-media" }
rtcp = { version = "0.2.0", path = "../rtc-rtcp", package = "rtc-rtcp" }
rtp = { version = "0.2.0", path = "../rtc-rtp", package = "rtc-rtp" }
sctp = { version = "0.2.0", path = "../rtc-sctp", package = "rtc-sctp" }
sdp = { version = "0.2.0", path = "../rtc-sdp", package = "rtc-sdp" }
shared = { version = "0.2.1", path = "../rtc-shared", package = "rtc-shared", default-features = false, features = ["crypto", "marshal", "replay"] }
srtp = { version = "0.2.0", path = "../rtc-srtp", package = "rtc-srtp" }
stun = { version = "0.2.0", path = "../rtc-stun", package = "rtc-stun" }
turn = { version = "0.1.0", path = "../rtc-turn", package = "rtc-turn" }

[features]
pem = ["dep:pem", "dtls/pem"]
openssl = ["srtp/openssl"]
vendored-openssl = ["srtp/vendored-openssl"]
