[package]
name = "rtc"
version.workspace = true
authors.workspace = true
edition.workspace = true
description = "Sans-I/O WebRTC implementation in Rust"
license.workspace = true
documentation = "https://docs.rs/rtc"
homepage.workspace = true
repository.workspace = true
readme = "../README.md"

[dependencies]
bytes = "1.5"
log = "0.4"
serde = "1"
serde_json = { version = "1", features = [] }
rcgen = { version = "0.13.2", features = ["pem", "x509-parser"] }
ring = "0.17"
sha2 = "0.10"
rustls = { version = "0.23.35", default-features = false, features = ["std", "ring"] }
url = { version = "2", features = [] }
hex = { version = "0.4", features = [] }
pem = { version = "3", optional = true }
unicase = "2.8"
rand = "0.9.2"

sansio = "1"
datachannel = { version = "0.3.0", path = "../rtc-datachannel", package = "rtc-datachannel" }
dtls = { version = "0.3.0", path = "../rtc-dtls", package = "rtc-dtls" }
ice = { version = "0.3.0", path = "../rtc-ice", package = "rtc-ice" }
interceptor = { version = "0.3.0", path = "../rtc-interceptor", package = "rtc-interceptor" }
mdns = { version = "0.3.0", path = "../rtc-mdns", package = "rtc-mdns" }
media = { version = "0.3.0", path = "../rtc-media", package = "rtc-media" }
rtcp = { version = "0.3.0", path = "../rtc-rtcp", package = "rtc-rtcp" }
rtp = { version = "0.3.0", path = "../rtc-rtp", package = "rtc-rtp" }
sctp = { version = "0.3.0", path = "../rtc-sctp", package = "rtc-sctp" }
sdp = { version = "0.3.0", path = "../rtc-sdp", package = "rtc-sdp" }
shared = { version = "0.3.0", path = "../rtc-shared", package = "rtc-shared", default-features = false, features = ["crypto", "marshal", "replay"] }
srtp = { version = "0.3.0", path = "../rtc-srtp", package = "rtc-srtp" }
stun = { version = "0.3.0", path = "../rtc-stun", package = "rtc-stun" }
turn = { version = "0.3.0", path = "../rtc-turn", package = "rtc-turn" }

[dev-dependencies]
webrtc = "0.14.0"
tokio = { version = "1", features = ["full"] }
env_logger = "0.11"
anyhow = "1"

[features]
pem = ["dep:pem", "dtls/pem"]
openssl = ["srtp/openssl"]
vendored-openssl = ["srtp/vendored-openssl"]
